body{
    background:#eee;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#afbfeb;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#5D87FF;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#5D87FF;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #5D87FF !important;
       color:#5D87FF;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #5D87FF !important;
       color:#fff;
       height:40px;
       background-color:#5D87FF;
}

.buttons button:nth-child(2){
       border:1px solid #5D87FF !important;
       background-color:#5D87FF;
       color:#fff;
        height:40px;
}

.rounded-circle{
    border-radius: 50%;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
}